<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256425942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4432468210</string>
	<key>CLIENT_ID</key>
	<string>536091367584-q1rv7bl45hsmir3i49raa1grvrv00dvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536091367584-q1rv7bl95hsmir3i49raa1hrvrv00dvc</string>
	<key>API_KEY</key>
	<string>AIzaSyBOkvc14vFuBVNMryKFSHYt_DqeA0mLTfE</string>
	<key>GCM_SENDER_ID</key>
	<string>536091367584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>petrychuk.Config.staging</string>
	<key>PROJECT_ID</key>
	<string>petrychuk.Config.staging</string>
	<key>STORAGE_BUCKET</key>
	<string>petrychuk.Config.staging</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:536091367584:ios:714e1c19e2d2427c</string>
	<key>DATABASE_URL</key>
	<string>https://configs-ios.firebaseio.com</string>
</dict>
</plist>
